@import "tailwindcss";

@theme {
  --font-dm-mono: "DM Mono", monospace;
  --font-fira-sans-extra-condensed: "Fira Sans Extra Condensed", sans-serif;
  --breakpoint-xs: 400px;
  --spacing-120: 31.25rem;
  --text-nav: clamp(0.9rem, calc(0.2vw + 0.5rem), 1.2rem);
  --text-nav--letter-spacing: 0.125rem;
  --text-nav--font-weight: 500;
}
