@import "tailwindcss";

@layer utilities {
  .gradient {
    background-image: radial-gradient(
        ellipse at 20% 30%,
        rgba(56, 189, 248, 0.85) 0%,
        transparent 100%
      ),
      radial-gradient(
        ellipse at 80% 70%,
        rgba(139, 92, 246, 0.75) 0%,
        transparent 100%
      ),
      radial-gradient(
        ellipse at 60% 20%,
        rgba(236, 72, 153, 0.7) 0%,
        transparent 100%
      ),
      radial-gradient(
        ellipse at 40% 80%,
        rgba(34, 197, 94, 0.65) 0%,
        transparent 100%
      );
  }

  .gradient-soft {
    background-image: radial-gradient(
        ellipse at 20% 30%,
        rgba(56, 189, 248, 0.25) 0%,
        transparent 100%
      ),
      radial-gradient(
        ellipse at 80% 70%,
        rgba(139, 92, 246, 0.25) 0%,
        transparent 100%
      ),
      radial-gradient(
        ellipse at 60% 20%,
        rgba(236, 72, 153, 0.25) 0%,
        transparent 100%
      ),
      radial-gradient(
        ellipse at 40% 80%,
        rgba(34, 197, 94, 0.25) 0%,
        transparent 100%
      );
  }

  .bg-gradient-dark {
    background-color: black;
    background-image: radial-gradient(
        ellipse at 20% 30%,
        rgba(56, 189, 248, 0.4) 0%,
        transparent 60%
      ),
      radial-gradient(
        ellipse at 80% 70%,
        rgba(139, 92, 246, 0.3) 0%,
        transparent 70%
      ),
      radial-gradient(
        ellipse at 60% 20%,
        rgba(236, 72, 153, 0.25) 0%,
        transparent 50%
      ),
      radial-gradient(
        ellipse at 40% 80%,
        rgba(34, 197, 94, 0.2) 0%,
        transparent 65%
      );
  }

  .font-inherit {
    font-family: inherit;
  }

  .gradient-accent {
    background-image: radial-gradient(
        ellipse at 20% 30%,
        rgba(56, 189, 248, 0.85) 0%,
        transparent 100%
      ),
      radial-gradient(
        ellipse at 80% 70%,
        rgba(251, 146, 60, 0.75) 0%,
        transparent 100%
      ),
      radial-gradient(
        ellipse at 60% 20%,
        rgba(139, 92, 246, 0.7) 0%,
        transparent 100%
      );
  }

  .font-banner {
    font-size: clamp(3rem, 15vw + 1rem, 6rem);
    line-height: 1;
    max-width: 10ch;

    @media (width >= 768px) {
      font-size: 11vw;
      max-width: 17ch;
      line-height: 1.2;
    }

    @media (width >= 1024px) {
      line-height: 0.95;
    }
  }
}
