---
interface Props {
  content?: string;
  customClass?: string;
  id?: string;
}

const { content, id, customClass = "" } = Astro.props;
---

<p
  id={id}
  class={`paragraph-animate text-[5vw] xs:text-[4vw] sm:text-[3vw] md:text-[2vw] text-white lg:text-[1.3vw] overflow-hidden leading-snug will-change-transform ${customClass}`}
>
  {content ? content : <slot />}
</p>
