---
import Icon from "astro-iconify";
import { getTranslations } from "../../i18n/utils";

interface Props {
  id: string;
}

const { id } = Astro.props;
const lang = Astro.currentLocale as "es" | "en";
const t = getTranslations(lang);
---

<button
  id={id}
  class="md:hidden size-8 md:size-12 block relative z-50 opacity-90"
>
  <Icon
    name="ri:menu-line"
    id="menu-icon"
    aria-hidden="true"
    class="text-white absolute inset-0 will-change-transform pointer-events-none z-0"
    color="white"
  />
  <Icon
    aria-hidden="true"
    name="ri:close-line"
    id="close-icon"
    class="text-white absolute inset-0 scale-0 opacity-0 will-change-transform pointer-events-none"
    color="white"
  />
  <span class="sr-only">{t("nav.mobileMenuLabel")}</span>
</button>
