---
import { Image } from "astro:assets";
import { getTranslations } from "../i18n/utils";

const lang = Astro.currentLocale as "es" | "en";
const t = getTranslations(lang);
const badgeT = t("badge");
---

<a
  class="relative size-[38vw] md:size-[15vw] block rounded-full overflow-hidden group opacity-0"
  href="https://github.com/WanderleeDev"
  target="_blank"
  rel="noopener noreferrer"
  id="badge"
>
  <Image
    id="badge-outer"
    src="https://res.cloudinary.com/dy8gpozi6/image/upload/v1765549470/Gemini_Generated_Image_7um3ha7um3ha7um3_mliovh.webp"
    loading="lazy"
    alt="Star"
    height={300}
    width={300}
    style={{ animationDuration: "7s" }}
    class="absolute inset-0 bg-black z-10 not-motion-reduce:animate-spin pointer-events-none opacity-0"
  />
  <Image
    id="badge-inner"
    src="https://res.cloudinary.com/dy8gpozi6/image/upload/v1740447261/meme_gato_rwte5r.webp"
    loading="lazy"
    alt="Star"
    height={200}
    width={200}
    class="size-[18vw] md:size-[8vw] absolute inset-0 z-10 top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 contrast-75 pointer-events-none group-hover:scale-90 transition-all duration-500 ease-in-out group-hover:rotate-6 group-hover:grayscale-75 rounded-full"
  />
  <span class="sr-only">{badgeT.label}</span>
</a>
