---
import { main_projects } from "../data";
import Title from "../components/typography/Title.astro";
import Paragraph from "../components/typography/Paragraph.astro";
import GridProjects from "../components/GridProjects.astro";
---

<section id="projects" class="min-h-dvh relative">
  <header
    class="text-center pt-8 pb-4 px-4 md:absolute md:top-2/4 md:left-2/4 md:-translate-x-2/4 md:-translate-y-2/4 md:text-[5vw] flex justify-center flex-col items-center z-10 md:pt-0 md:pb-0 md:px-0"
  >
    <Title id="projects-title" customClass="mb-4 md:mb-0"> Projects </Title>
    <Paragraph id="projects-description" customClass="md:w-[40ch]">
      My personal selection of frontend projects, where I highlight examples
      that showcase my approach to web development focused on quality and the
      user.
    </Paragraph>
  </header>

  <GridProjects />
</section>

<script>
  import { createRevealSectionTL } from "../utils/createRevealSectionTL";

  createRevealSectionTL("#projects-title", "#projects-description");
</script>
