---
import { skills } from "../data";
import FloatingElements from "../components/background/FloatingElements.astro";
import DecorativeAccent from "../components/base/DecorativeAccent.astro";
import Paragraph from "../components/typography/Paragraph.astro";
import Title from "../components/typography/Title.astro";
import SkillCardStacking from "../components/SkillCardStacking.astro";

const maxHeightContainer = `${(skills.length - 1) * 100}vh`;
---

<section
  id="skills"
  class="relative min-h-dvh p-4 lg:p-8"
  style={{ height: maxHeightContainer }}
>
  <div
    class="sticky top-1 max-w-7xl mx-auto grid gap-12 lg:gap-16 lg:items-center lg:grid-cols-2 min-h-dvh py-12 lg:py-0"
  >
    <header class="relative z-10">
      <div class="space-y-6">
        <DecorativeAccent />

        <Title customClass="skills-title"> My habilites </Title>
        <Paragraph customClass="skills-text w-max-[40ch]">
          A showcase of my technical proficiencies and expertise, reflecting the
          tools and technologies I leverage in my projects.
        </Paragraph>
      </div>

      <FloatingElements />
    </header>

    <SkillCardStacking />
  </div>
</section>

<script>
  import { createRevealSectionTL } from "../utils/createRevealSectionTL";

  createRevealSectionTL(".skills-title", ".skills-text");
</script>
