---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Grid from "../components/background/Grid.astro";
import Header from "../components/Header.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon_default.svg" type="image/svg+xml" />

    <link
      rel="icon"
      href="/favicon_dark.svg"
      type="image/svg+xml"
      media="(prefers-color-scheme: dark)"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>Portfolio WanderleeDev</title>
    <meta property="og:title" content="Portfolio WanderleeDev" />
    <meta
      property="og:description"
      content="Portfolio of WanderleeDev, a web developer showcasing projects and skills."
    />
    <meta property="og:image" content="/tom.webp" />
    <meta property="og:url" content="https://wanderleev.dev" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Portfolio WanderleeDev" />
  </head>
  <body
    class="min-h-svh flex flex-col justify-between duration-500 select-none overflow-x-hidden"
  >
    <Grid />
    <main id="main-container" class="flex flex-col gap-20 bg-gradient-dark">
      <Header />
      <slot />
    </main>
    <div class="min-h-dvh" aria-hidden="true"></div>
    <Footer />
  </body>
</html>
